<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyProduct.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Buy Product</title>

</head>

<body>
    <div id="wrapper">
        <div class="wrapper logIn">
            <div class="login_box">
                <div class="login-header">
                    <h1>Log In</h1>
                </div>

                <div class="input_box">
                    <input type="text" id="username" class="input-field" required>
                    <label for="username" class="label">Username</label>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input_box">
                    <input type="email" id="email" class="input-field" required>
                    <label for="email" class="label">Email</label>
                    <i class="fa-solid fa-at"></i>
                </div>
                <div class="input_box" >
                    <input type="text" id="password" class="input-field" required>
                    <label for="password" class="label">Password</label>
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="input_box" >
                    <p>Forget password?</p>
                </div>
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Log In">
                </div>

            </div>
        </div>
    </div>

</body>

</html>
