<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pet Insurance</title>
</head>

<body>
    <section class="section offer" aria-label="offer">

        <div class="container">
            <h2 class="h2 section-title">
                <span class="span">Pet</span> Insurance Companies
            </h2>
            <ul class="grid-list adoption">
                <li>
                    <img src="{{ url_for('static', filename='images/company2.jpg') }}" alt="company">
                    <div>
                        <h2>Petco’s Insurance Plans</h2>
                        <ul>
                            The following are the claim limit option that you can choose from no matter which plan you
                            opt for:
                            <li>Annual coverage limits: $5,000, $10,000, $15,000, $20,000, or Unlimited;</li>
                            <li> Annual deductibles: $100, $250, or, $500;</li>
                            <li> Reimbursement percentages: 70%, 80%, or 90%.</li>
                            <li> Any cat or dog older than 8 weeks can fully enjoy the benefits and flexibility that
                                come with these two plans. </li>


                        </ul>
                    </div>

                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/company3.avif') }}" alt="company">
                    <div>
                        <h2>Petco’s Insurance Plans</h2>
                        <ul>
                            The following are the claim limit option that you can choose from no matter which plan you
                            opt for:
                            <li>Annual coverage limits: $5,000, $10,000, $15,000, $20,000, or Unlimited;</li>
                            <li> Annual deductibles: $100, $250, or, $500;</li>
                            <li> Reimbursement percentages: 70%, 80%, or 90%.</li>
                            <li> Any cat or dog older than 8 weeks can fully enjoy the benefits and flexibility that
                                come with these two plans. </li>


                        </ul>
                    </div>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/company4.webp') }}" alt="company">
                    <div>
                        <h2>Petco’s Insurance Plans</h2>
                        <ul>
                            The following are the claim limit option that you can choose from no matter which plan you
                            opt for:
                            <li>Annual coverage limits: $5,000, $10,000, $15,000, $20,000, or Unlimited;</li>
                            <li> Annual deductibles: $100, $250, or, $500;</li>
                            <li> Reimbursement percentages: 70%, 80%, or 90%.</li>
                            <li> Any cat or dog older than 8 weeks can fully enjoy the benefits and flexibility that
                                come with these two plans. </li>


                        </ul>
                    </div>
                </li>
            </ul> 
            <h3 class="h2 section-title">
                    <span class="span">Pets</span> 
                </h3>
                <ul class="grid-list adoption">
                    <li>
                        <img src="{{ url_for('static', filename='images/offer-banner-1.jpg') }}" alt="">
                        <h2>Max</h2>
                        <p id="pricePet">$120</p>
                        <button id="buyPet" class="button-77" role="button">Buy Pet</button>
    
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/offer-banner-2.jpg') }}" alt="">
                        <h2>Nala</h2>
                        <p id="pricePet">$140</p>
                        <button id="buyPet" class="button-77" role="button">Buy Pet</button>
    
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/offer-banner-3.jpg') }}" alt="">
                        <h2>Buddy</h2>
                        <p id="pricePet">$400</p>
                        <button id="buyPet" class="button-77" role="button">Buy Pet</button>
    
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/offer-banner-4.jpg') }}" alt="">
                        <h2>Charlie</h2>
                        <p id="pricePet">$200</p>
                        <button id="buyPet" class="button-77" role="button">Buy Pet</button>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/offer-banner-5.jpg') }}" alt="">
                        <h2>Lily</h2>
                        <p id="pricePet">$320</p>
                        <button id="buyPet" class="button-77" role="button">Buy Pet</button>
    
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/offer-banner-6.jpg') }}" alt="">
                        <h2>Coco</h2>
                        <p id="pricePet">$180</p>
                        <button id="buyPet" class="button-77" role="button">Buy Pet</button>
    
                    </li>
    
    
                </ul>

        </div>
        </div>
    </section>
 <ul class="grid-list adoption">
               
                <li>
                    <img src="{{ url_for('static', filename='images/service1.jpg') }}" alt="">
                    <h2>Veterinary Treatment</h2>
                    <p>Including exams and consultations for covered conditions, and more.</p>

                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/service2.jpg') }}" alt="">
                    <h2>Dental Disease</h2>
                    <p >Gingivitis, periodontitis, extractions and more.</p>

                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/service3.webp') }}" alt="">
                    <h2>Diagnostic Testing</h2>
                    <p >Including MRI or CT scans and X-rays.</p>

                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/service.4.jpg') }} alt="">
                    <h2>Hereditary & Congenital Conditions</h2>
                    <p>Hip dysplasia, heart disease and more.</p>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/service5.jpg') }}" alt="">
                    <h2>Accidents</h2>
                    <p >Injuries, swallowed objects and more.</p>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/service6.jpg') }}" alt="">
                    <h2>Behavioral Issues</h2>
                    <p>Excess licking, separation anxiety and more.</p>
                </li>

              
            </ul>

    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>