<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pet Adoption</title>
</head>

<body>
    <!-- 
        - #Veterinary
      -->

    <section class="section offer" aria-label="offer">

        <div class="container">
            <h2 class="h2 section-title">
                <span class="span">Our</span> Veterinary
            </h2>
            <ul class="grid-list adoption">

                <li>
                    <div class="profileDiv"></div>
                    <h2>Veterinary Treatment</h2>
                    <p class="pPet"> 
                        <ion-icon class="social-link" name="logo-instagram"></ion-icon><a
                            href="https://www.instagram.com/dr.g.singhdvm/">dr.evanantin
                        </a></p>




                </li>
                <li>
                    <div class="profileDiv2"></div>
                    <h2>Dr. Gurkaranveer Singh</h2>
                    <p class="pPet"><ion-icon class="social-link" name="logo-instagram"></ion-icon><a
                        href="https://www.instagram.com/dr.g.singhdvm/">dr.g.singhdvm</a></p>
                    


                </li>
                <li>
                    <div class="profileDiv3"></div>
                    <h2>Dr. Nia</h2>
                    <p class="pPet"><ion-icon class="social-link" name="logo-instagram"></ion-icon><a
                        href="https://www.instagram.com/becomingdoctornia/">@becomingdoctornia</a></p>

                </li>
                <li>
                    <div class="profileDiv4"></div>
                    <h2>Dr. Danni Dusek</h2>
                    <p class="pPet"><ion-icon class="social-link" name="logo-instagram"></ion-icon><a
                        href="https://www.instagram.com/drdannidusek/">@drdannidusek</a></p>
                </li>
                <li>
                    <div class="profileDiv5"></div>
                    <h2>Dr. Indya</h2>
                    <p class="pPet"><ion-icon class="social-link" name="logo-instagram"></ion-icon><a
                        href="https://www.instagram.com/doctorindya/">@doctorindya</a></p>
                </li>
                <li>
                    <div class="profileDiv6"></div>
                    <h2>Dr. Vet</h2>
                    <p class="pPet"><ion-icon class="social-link" name="logo-instagram"></ion-icon><a
                        href="https://www.instagram.com/dr___vet/">@dr___vet</a></p>
                </li>


            </ul>


        </div>

    </section>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>