<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <title>Privacy Policy</title>
</head>

<body>
    <section class="section offer" aria-label="offer">

        <div class="container">
       <h2 class="h2 section-title">
        <span class="span">What should a</span> Privacy Policy template include?
    </h2>
    <p>An effective and compliant Privacy Policy template should include the following information.
    </p>
    <h2>1. Data collection processes</h2>
    <p>All Privacy Policy templates should provide detailed information about which types of personal data the website
        or application is collecting, and how this collection happens. Businesses should be specific in the information
        they provide and templates should enable users to customize these clauses to describe their individual
        collection processes.</p>
    <h2>2. How personal data is used </h2>
    <p>Privacy Policy notice templates should also provide detail surrounding specifically how this personal information
        is used by the company, and which purposes you’re collecting this data for. It’s a good idea to provide clear
        and specific examples of how individuals’ data will be used, so website owners will need to complete this
        section of the template to reflect their individual use cases.
    </p>
    <h2>3. If data is shared with third parties</h2>
    <p>Privacy Policy templates should also include clauses describing whether individuals’ personal data will be shared
        with third parties, and if so, when. Providing transparency around this ensures that users know what information
        they’re volunteering for but also exactly how this information will later be passed on to other parties.
    </p>
    <h2>4. How information is protected
    </h2>
    <p>Privacy Policy templates will also need to provide specific information about how they’re protecting your data
        once they collect it. Every data subject has the right to have their information stored securely, so the
        template will need to provide reassurance that there are protocols and procedures in place to provide this
        security.
    </p>
    <h2>5. The rights users retain over their data
    </h2>
    <p>Even after volunteering their data, website visitors will retain a number of rights over this data, and a
        comprehensive Privacy Policy template should clarify these rights. For instance, a GDPR-compliant Privacy Policy
        will usually describe users’ right to amend, delete and review the data kept about them, as well as how they can
        exercise these rights.
    </p>
    <h2>6. How to contact them
    </h2>
    <p>Privacy Policies will also need to provide a section outlining any contact information for the website’s owners.
        This enables data subjects to get in touch with the website owner to ask any questions or express any concerns
        about the way their data is processed.
    </p>
    <h2>7. Cookies
    </h2>
    <p>Under the EU Cookies Directive, businesses that are based in the EU or target EU-based citizens will be obliged
        to create a separate Cookies Policy. However, businesses that fall outside of this scope could include a section
        about cookies within their Privacy Policy instead.

        What to consider when choosing a Privacy Policy template
        But it’s important to note that not all Privacy Policy templates are born equal. There are a few things you’ll
        need to consider when selecting the right Privacy Policy template for your website. These considerations
        include:

        Compliance with laws: does the Privacy Policy template comply with the laws within the jurisdictions you operate
        in?
        Readability and accessibility: can users actually read and understand the contents of the Privacy Policy with
        ease?
        Design features: is the template visually appealing and accessible for users, or is it too text-heavy?
        How easy they are to update: can you update the Privacy Policy template easily in the future to reflect changes?
        Comprehensiveness: does the policy note include all of the necessary clauses?
        If you’re looking for a free Privacy Policy that’s easy to populate, compliant and user-friendly, download our
        Privacy Policy template above.
    </p>  </div>
    </section>
   
</body>

</html>