<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pet Insurance</title>
</head>

<body>
    <section class="section about" aria-label="offer">

        <div class="container">
            <h2 class="h2 section-title">
                <span class="span">About</span> US
            </h2>
            <ul class="about-list aboutUs">
                <img src="{{ url_for('static', filename='images/about.png') }}" alt="about">
                <div class="about-text">
                   <p >
                    We are passionate about providing top-notch care for your beloved pets. Our mission is to ensure
                    that every furry friend receives the love, attention, and support they deserve.
                    <br>
                    <h3> Our Commitment to Pet Care</h3>
                    With years of experience in the industry, our team of dedicated professionals is committed to
                    delivering exceptional pet care services. From routine check-ups to specialized treatments, we
                    prioritize the health and well-being of your pets above all else.
                    <br><h3> Comprehensive Pet Services</h3>
                   
                    We offer a wide range of services designed to meet the unique needs of each pet:
                    <br>
                    <h3> Veterinary Care:</h3>
                     Our experienced veterinarians provide comprehensive medical care, including
                    wellness exams, vaccinations, and emergency treatments.
                    <br>
                    <h3>Grooming Services: </h3>
                    Treat your pet to a spa day! Our grooming experts offer baths, haircuts, nail
                    trims, and more to keep your pet looking and feeling their best.
                    <br>
                   
                </div>
                
            </ul>
            <h3 class="h2 section-title">
                <span class="span">Achievements</span> 
            </h3>
            <ul class="grid-list adoption">
                <li>
                    <img src="../../../static/images/about2.jpg" alt="">
                    <p id="pricePet">We saved hundreds of animals</p>
                </li>
                <li>
                    <img src="../../../static/images/about3.jpg" alt="">
                    <p id="pricePet">Social Contribution</p>
                </li>
                <li>
                    <img src="../../../static/images/about4.webp" alt="">
                    <p id="pricePet">Social Bonds and Communication</p>
                </li>
                <li>
                    <img src="../../../static/images/about6.jfif" alt="">
                    <p id="pricePet">Moral and Spiritual Well-Being</p>
                </li>
            </ul>
            <h3 class="h2 section-title">
                <span class="span">Certified</span> 
            </h3>
            <ul class="grid-list adoption">
                <li>
                    <img src="../../../static/images/about5png.png" alt="">
                    <p>Certification for save animals</p>
                </li>
                <li>
                    <img src="../../../static/images/about7.jpg" alt="">
                    <p> Master Groomer</p>
                </li>
                <li>
                    <img src="../../../static/images/about8.jpg" alt="">
                    <p> Master Groomer</p>
                </li>
                <li>
                    <img src="../../../static/images/image9.jfif" alt="">
                    <p>Certification for save animals</p>
                </li>
            </ul>
        </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>